<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prediksi Perawatan Pesawat</title>
  </head>
  <body>
    <h1>Prediksi Perawatan Pesawat</h1>
    <form method="post">
      <label for="s4">s4:</label>
      <input type="number" id="s4" name="s4" required /><br /><br />

      <label for="s7">s7:</label>
      <input type="number" id="s7" name="s7" required /><br /><br />

      <label for="s8">s8:</label>
      <input type="number" id="s8" name="s8" required /><br /><br />

      <label for="s9">s9:</label>
      <input type="number" id="s9" name="s9" required /><br /><br />

      <label for="s11">s11:</label>
      <input type="number" id="s11" name="s11" required /><br /><br />

      <label for="s12">s12:</label>
      <input type="number" id="s12" name="s12" required /><br /><br />

      <label for="s13">s13:</label>
      <input type="number" id="s13" name="s13" required /><br /><br />

      <label for="s14">s14:</label>
      <input type="number" id="s14" name="s14" required /><br /><br />

      <label for="av2">av2:</label>
      <input type="number" id="av2" name="av2" required /><br /><br />

      <label for="av3">av3:</label>
      <input type="number" id="av3" name="av3" required /><br /><br />

      <label for="av4">av4:</label>
      <input type="number" id="av4" name="av4" required /><br /><br />

      <label for="av7">av7:</label>
      <input type="number" id="av7" name="av7" required /><br /><br />

      <label for="av8">av8:</label>
      <input type="number" id="av8" name="av8" required /><br /><br />

      <label for="av9">av9:</label>
      <input type="number" id="av9" name="av9" required /><br /><br />

      <label for="av11">av11:</label>
      <input type="number" id="av11" name="av11" required /><br /><br />

      <label for="av12">av12:</label>
      <input type="number" id="av12" name="av12" required /><br /><br />

      <label for="av13">av13:</label>
      <input type="number" id="av13" name="av13" required /><br /><br />

      <label for="av14">av14:</label>
      <input type="number" id="av14" name="av14" required /><br /><br />

      <label for="av15">av15:</label>
      <input type="number" id="av15" name="av15" required /><br /><br />

      <label for="av17">av17:</label>
      <input type="number" id="av17" name="av17" required /><br /><br />

      <label for="av20">av20:</label>
      <input type="number" id="av20" name="av20" required /><br /><br />

      <label for="av21">av21:</label>
      <input type="number" id="av21" name="av21" required /><br /><br />

      <input type="submit" value="Predict" />
    </form>
  </body>
</html>
